{% extends 'base.html' %} {% load static %} {% block meta %}
<title>My Vacancies</title>
{% endblock meta %} {% block content %}


<main>

  <div class="container mt-5">
    <h1 class="mb-4">My Vacancies</h1>

    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
        {% for vacancy in vacancy_list %}
            <div class="col-md-4 mb-4">
              <a href="{% url 'find_members:vacancy_detail' vacancy.id %}" style="color: black; text-decoration: none;">
                <div class="card">
                  <img src="{% static vacancy.foto_lowongan_regu %}" class="card-img-top" alt="Lowongan Image">
                     
                        <h5 class="card-title">{{vacancy.nama_lomba}}</h5> 
                        <p>Posted by <strong>{{vacancy.ketua}}</strong> from team <strong>{{vacancy.nama_regu}}</strong></p>
                        <p>Field: {{vacancy.bidang_lomba}}</p>
                        <p>Recruiting until {{vacancy.expiry}}</p>
                        <p>Current members {{vacancy.jumlah_anggota_sekarang}}/{{vacancy.total_anggota_dibutuhkan}}</p>
                      </a>
                  <div class="mt-8">
                    <a href="{% url 'find_members:vacancy_applicants' vacancy_id=vacancy.id %}" class="p-1 bg-emerald-700 hover:bg-green-900 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline mt-4">Show Applicants</a>
                  </div>
                </div>
              
            </div> 
        {% endfor %}
    </div>
</div>

</main>

{% endblock content %}