{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Home</title>
{% endblock meta %}

{% block content %}
    {% if user.is_authenticated %}
        <!-- Home Page -->
        <div class="flex flex-col items-center p-4 md:p-8">
            <p>Hi {{ user.username }}!</p>
            <p><a href="{% url 'authentication:logout' %}"></a></p>
            <div class="py-4"></div>
            
            <h1 class="text-2xl font-bold">Options</h1>
            <button style="text-decoration: underline;">
                <a href="{% url 'find_teams:show_vacancies' %}">Show Vacancies</a>
            </button>
            <button style="text-decoration: underline;">
                <a href="{% url 'find_members:create_vacancy' %}">Create A Vacancy</a>
            </button>
                    
        </div>
    {% else %}
        <!-- When not logged in -->
        <div class="h-[100dvh] w-[100-dvw] bg-emerald-50 flex flex-col items-center justify-center">
            <img src="{% static 'invite/icon_light.svg' %}" alt="Invite Logo">
            <div class="py-3"></div>
            <div class="text-3xl md:text-5xl font-semibold">
                Welcome to <span class="font-bold text-emerald-600">Invite</span>!
            </div>
            <div class="py-2"></div>
            <div class="w-full flex flex-col gap-y-4 items-center">
                <div class="w-1/2 flex flex-col gap-y-4 md:flex-row md:gap-x-6 justify-center">
                    <a class="w-full h-[60px] md:w-[160px] md:h-[60px] flex items-center justify-center border border-emerald-600 rounded-xl hover:bg-emerald-100 text-lg duration-200" 
                        href="{% url 'authentication:login' %}">
                        Log In
                    </a>
                    <a class="w-full h-[60px] md:w-[160px] md:h-[60px] flex items-center justify-center border border-emerald-600 rounded-xl hover:bg-emerald-100 text-lg duration-200" 
                        href="{% url 'authentication:register' %}">
                        Sign Up
                    </a>
                </div>
            </div>

        </div>
    {% endif %}
{% endblock content %}