{% extends "base.html" %}

{% block title %}Delete{% endblock %}

{% block content %}
<script>
    // Wait for 5 seconds and then redirect
    setTimeout(function () {
        window.location.href = "{% url 'profile:show_my_applications' %}";
    }, 5000);  // 5000 milliseconds = 5 seconds
</script>
<div class="flex flex-grow flex-col justify-center items-center">
  <div class="flex flex-col justify-center items-center py-8 px-12 md:p-16 shadow-lg rounded-2xl bg-white">
    <span class="text-3xl text-emerald-900 mb-2 md:text-4xl md:mb-4">Application deleted!</span>
    <span class="text-md text-emerald-900 mb-6 md:text-md md:mb-6">Lamaranmu telah berhasil dihapus</span>
  </div>
</div>

{% endblock %}
