{% extends "base.html" %}

{% block title %}My Applications{% endblock %}

{% block content %}
  <div class="flex flex-grow flex-col items-center">
    <div class="flex w-full md:w-2/5 p-4 underline decoration-emerald-900 underline-offset-[9px]">
      <h1 class="text-2xl text-emerald-900 font-semibold">My Applications</h1>
    </div>
    <div class="flex flex-col flex-grow w-full md:w-2/5 p-4 gap-4">
      {% if data.daftar_lamaran %}
        {% for lamaran in data.daftar_lamaran %}
        <div class="flex flex-col p-3 text-sm gap-5 rounded-lg shadow-md bg-white">
          <div class="flex flex-row items-center">
            <span 
            class="py-1 px-3 mr-auto rounded-2xl tracking-wide font-light text-white
            {% if lamaran.status == 'Denied' %}bg-[#EB6060]
            {% elif lamaran.status == 'Pending' %}bg-[#F7E463]
            {% elif lamaran.status == 'Accepted' %}bg-[#7CD992]
            {% endif %}">
              {{ lamaran.status }}
            </span>
            <a href="{% url 'profile:delete_application' lamaran.id %}" class="text-red-500 hover:text-red-700 ml-auto">Delete</a>
          </div>
          <span class="text-xl text-emerald-900 font-semibold">
            {{ lamaran.lowongan.nama_lomba }}
          </span>
          <div class="flex flex-row">
            <span class="text-emerald-900 font-semibold -mt-4">
              {{ lamaran.lowongan.nama_regu }}
            </span>
            <span class="text-emerald-900 font-light ml-auto -mt-4">
              {{ lamaran.created_at }}
            </span>
          </div>
        </div>
        {% endfor %}
    {% else %}
      <p>No applications found.</p>
    {% endif %}
    </div>
  </div>
{% endblock %}
