{% extends 'base.html' %}

{% load static %}

{% block meta %}
<title>My Profile</title>
{% endblock meta %}

{% block content %}
<main class="md:h-[100dvh] flex flex-col p-4 md:p-8 items-center border border-black">
    
    <div class="md:w-[800px] flex flex-col border border-black p-2 md:p-4">
        <div
            class="w-full flex flex-row bg-gray-300 items-center justify-between"
        >
            <div 
                class="flex flex-row"
            >
                <p class="text-xl md:text-2xl font-semibold text-gray-600">{{ data.user.first_name }} {{ data.user.last_name }}</p>
                <div class="relative w-[60px] h-[60px] md:w-[120px] md:h-[120px] rounded-full overflow-hidden">
                    <img src="{% static 'invite/default-user.jpg' %}" alt="Profile Picture">
                </div>
            </div>
        </div>
        <!-- <div class="flex flex-row items-center justify-between">
            <p class="text-xl md:text-2xl font-semibold text-gray-600">{{ data.user.first_name }} {{ data.user.last_name }}</p>
            <div class="relative w-[60px] h-[60px] md:w-[120px] md:h-[120px] rounded-full overflow-hidden">
                <img src="{% static 'invite/default-user.jpg' %}" alt="Profile Picture">
            </div>
        </div> -->
        <!-- User Profile Section -->
        <div>
            <h1>TODO</h1>
            <p>
                Created at: {{ data.user.created_at }}
            </p>
            <p>
                Username: {{ data.user.username }}
            </p>
            <p>
                Email: {{ data.user.email }}
            </p>
            <p>
                Name: {{ data.user.first_name }} {{ data.user.last_name }}
            </p>
            <p>
                University: {{ data.user.universitas }}
            </p>
            <p>
                Jurusan: {{ data.user.jurusan }}
            </p>
            <p>
                Tautan Media Sosial: {{ data.user.tautan_media_sosial }}
            </p>
            <p>
                Profile Details: {{ data.user.profile_details }}
            </p>
            <p>
                Profile Picture: {{ data.user.profile_picture }}
            </p>
            <a 
            class="text-white bg-emerald-700 hover:bg-emerald-800 focus:ring-2 focus:outline-none focus:ring-emerald-300 font-medium rounded-lg text-sm px-4 py-2 text-center mr-3 md:mr-0 dark:bg-emerald-600 dark:hover:bg-emerald-700 dark:focus:ring-emerald-800" 
            href="{% url 'profile:show_my_applications' %}"">
                Daftar Lamaran
            </a>
        </div>
    </div>
</main>

{% endblock content %}
