{% extends 'base.html' %} {% load static %} {% block meta %}
<title>Profile Detail</title>
{% endblock meta %} {% block content %}
<main
  class="md:min-h-[100dvh] flex flex-col p-4 md:p-8 items-center border border-black"
>
  <div class="md:w-[800px] flex flex-col gap-y-4 md:gap-y-8">
    <div class="flex flex-col p-2 md:p-4 border border-black">
      <div class="flex flex-row items-center justify-between">
        <p class="text-xl md:text-2xl font-semibold text-gray-600">
          {{ data.user.first_name }} {{ data.user.last_name }}
        </p>
        <div
          class="relative w-[60px] h-[60px] md:w-[120px] md:h-[120px] rounded-full overflow-hidden"
        >
          <img
            src="{% static 'invite/default-user.jpg' %}"
            alt="Profile Picture"
          />
        </div>
      </div>
      <!-- User Profile Section -->
      <div>
        <h1>TODO</h1>
        <p>Created at: {{ data.user.created_at }}</p>
        <p>Username: {{ data.user.username }}</p>
        <p>Name: {{ data.user.first_name }} {{ data.user.last_name }}</p>
        <p>University: {{ data.user.universitas }}</p>
        <p>Jurusan: {{ data.user.jurusan }}</p>
        <p>Tautan Media Sosial: {{ data.user.tautan_media_sosial }}</p>
        <p>Profile Details: {{ data.user.profile_details }}</p>
        <p>Profile Picture: {{ data.user.profile_picture }}</p>
      </div>
    </div>

    <!-- Ulasan Section -->
    <div class="flex flex-col p-2 md:p-4 border border-black">
      <div class="text-lg md:text-xl font-semibold py-1">Ulasan untuk pengguna</div>
      
      <button class="rounded border border-black bg-white hover:bg-gray-200" id="openFormButton">
        Membuat Ulasan Profil Baru
      </button>
      <div class="py-2">
      {% if data.ulasan %}

            {% for item in data.ulasan %}
            <div class="mb-4">
                <div class="border border-black rounded p-2 py-2">
                    <div><b>Pengulas: </b>{{ item.pengulas.username }}</div>
                    <div><b>Rating: </b>{{ item.rating }}</div>
                    <div><b>Deskripsi Kerja Setim: </b>{{ item.deskripsi_kerja_setim }}</div>
                    <div><b>Ulasan: </b>{{ item.ulasan }}</div>
                    <div><b>Post Dibuat: </b>{{ item.created_at }}</div>
                    <div><b>Post Diperbaharui: </b>{{ item.updated_at }}</div>
                </div>
            </div>
            {% endfor %}

    {% endif %}
        </div>

      <!-- Pop-up Form -->
      <div
        id="popForm"
        style="
          display: none;
          position: fixed;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background-color: white;
          padding: 20px;
          border: 1px solid #ccc;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
          z-index: 1000;
          width: 400px;
          border-radius: 8px;
        "
      >
        <button
          class="bg-red-500 hover:bg-red-600 text-white font-bold py-1 px-2 rounded focus:outline-none focus:shadow-outline"
          id="closeFormButton"
          style="position: absolute; top: 10px; right: 10px; font-size: 0.8rem;"
        >
          X
        </button>
        <form
          id="reviewForm"
          action="{% url 'profile:review_profile' profile_id=data.user.id %}"
          method="post"
        >
          {% csrf_token %}
        
          <div class="flex flex-col p-1">
          <label for="rating">Rating:</label>
            <select  class="border border-black rounded p-1 w-36" name="rating" id="rating" required>
                <option value="" disabled selected>Memilih rating</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
          </div>


          <!-- Deskripsi Kerja Setim Field -->
          <div class="flex flex-col p-1">
            <label for="deskripsi_kerja_setim">Deskripsi Kerja Setim:</label>
            <textarea
              class="border border-black rounded p-2"
              name="deskripsi_kerja_setim"
              rows="4"
              required
            ></textarea>
          </div>

          <!-- Ulasan Field -->
          <div class="flex flex-col p-1">
            <label for="ulasan">Ulasan:</label>
            <textarea
                class="border border-black rounded p-2"
                name="ulasan"
                rows="8"
                required
            ></textarea>
            </div>
        
            
            <button
            class="p-1 bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline mt-4"
            type="submit"
            >
            Submit
        </button>
        </div>
        </form>
      </div>
    </div>
   
  </div>
</main>
<script>
  document
    .getElementById("openFormButton")
    .addEventListener("click", function () {
      document.getElementById("popForm").style.display = "block";
    });

  document
    .getElementById("closeFormButton")
    .addEventListener("click", function () {
      document.getElementById("popForm").style.display = "none";
    });
</script>

{% endblock content %}
