{% extends "base.html" %}

{% load static %}

{% block meta %}
<title>Applicants for my vacancy</title>
{% endblock meta %}

{% block content %}
<main>
    <div>
        <!-- Display a list of applicants -->
        <div class="mt-8">
            <h2 class="text-2xl md:text-3xl mb-4 font-semibold p-4 text-emerald-900  text-center">
                Daftar Pelamar untuk Team <span class="underline decoration-emerald-900 underline-offset-[9px]"> {{ lowongan.nama_regu}} </span></h2>
                

                <div class="p-8 mr-auto">
                    <button onclick="goBack()" style="cursor: pointer;" class="flex items-center justify-center px-5 py-2 text-sm text-gray-700 transition-colors duration-200 bg-white shadow-sm rounded-lg gap-x-2 sm:w-auto dark:hover:bg-gray-800 dark:bg-gray-900 hover:bg-gray-100 dark:text-gray-200 dark:border-gray-700">
                      <svg class="w-5 h-5 rtl:rotate-180" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                          <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 15.75L3 12m0 0l3.75-3.75M3 12h18" />
                      </svg>
                      <span class="hidden md:inline">Go back</span>
                    </button>
                </div>

                <div class="w-full py-4 text-emerald-900">
                 
            
                    {% if applicants.length != 0 %}
                    
                            {% for applicant in applicants %}
                    
                                <div class="mb-4 w-full mx-auto overflow-hidden max-w-2xl rounded-lg shadow-md bg-white">
                                    <div class="p-10 pl-3">
                 
                                            <span 
                                                class="py-1 px-3 mr-auto rounded-2xl tracking-wide font-light text-white
                                                {% if applicant.status == 'Denied' %}bg-[#EB6060]
                                                {% elif applicant.status == 'Pending' %}bg-[#F7E463]
                                                {% elif applicant.status == 'Accepted' %}bg-[#7CD992]
                                                {% endif %}">
                                                {{ applicant.status }}
                                            </span>
                                            <div class="mt-4"></div>
                                            <div> <b>Nama:</b> {{ applicant.nama }}</div>
                                            <div> <b>Keahlian:</b> {{ applicant.keahlian }} </div>
                                            <div> <b>Cover Letter:</b> {{ applicant.cover_letter }} </div>
                                            <div> <b>Tautan Portofolio: </b>{{ applicant.tautan_portofolio }} </div>
                                            
                                            <div>
                                                <a href="{% url 'profile:profile' user_id=applicant.pengirim.id %}" class="text-blue-500 no-underline hover:underline cursor-pointer">
                                                    Klik disini untuk melihat detail profil pendaftar
                                                </a>
                                            </div>

                                            {% if applicant.status != 'Accepted' and applicant.status != 'Denied' %}
                        
                                                <div class="flex mt-4">
                                                    <a href="{% url 'find_members:terima_tolak_lamaran' lamaran_id=applicant.id status='Accepted' %}" class="bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded-md mr-4">
                                                        Accept
                                                    </a>
                                                    <a href="{% url 'find_members:terima_tolak_lamaran' lamaran_id=applicant.id status='Denied' %}" class="bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-4 rounded-md mr-4">
                                                        Deny
                                                    </a>
                                                </div>
                                               
                                         
                                            {% endif %}


             
                                    </div>
                                </div>
                            {% endfor %}
                       
                        
                        
                        
                    </div>
                </div>
                
                {% else %}
                    <p class="text-center text-xl text-gray-500">No one has applied yet.</p>
                {% endif %}
            

    </div>
</main>

<script>
    function goBack() {
      window.history.back();
    }
</script>

{% endblock content %}
