{% extends "base.html" %}

{% load static %}

{% block meta %}
<title>Applicants for my vacancy</title>
{% endblock meta %}

{% block content %}
<main>
    <div>
        <!-- Display a list of applicants -->
        <div class="mt-8">
            <h2 class="text-2xl md:text-3xl font-semibold p-4 text-emerald-900 underline decoration-emerald-900 underline-offset-[9px] text-center">Applicants</h2>

            <a href="{% url 'profile:show_my_vacancies' %}" class="text-emerald-900 underline decoration-emerald-900 underline-offset-[9px] p-2 ml-4 mb-4 block">
                &larr; Back
            </a>

            {% if applicants.length == 0 %}
                <ul>
                    <p>MAusk</p>
                    {% for applicant in applicants %}
                        <div class="mb-4 flex flex-col justify-center items-center py-4 px-8 md:p-6 shadow-lg rounded-2xl bg-white">
                            <li>
                                <strong>{{ applicant.nama }}</strong> - {{ applicant.universitas }} - {{ applicant.jurusan }}
                                <!-- Add more applicant details as needed -->
                            </li>
                        </div>
                    {% endfor %}
                </ul>
            {% else %}
                <p class="text-center text-xl text-gray-500">No one has applied yet.</p>
            {% endif %}
        </div>
    </div>
</main>


{% endblock content %}
