{% extends "base.html" %}

{% block title %}Apply{% endblock %}

{% block content %}
<div class="flex flex-grow flex-col justify-center items-center">
  <div class="flex flex-col justify-center items-center py-8 px-12 md:p-16 shadow-lg rounded-2xl bg-white">
    <span class="text-3xl text-emerald-900 mb-2 md:text-4xl md:mb-4">Application Form</span>
    <span class="text-md text-emerald-900 mb-6 md:text-md md:mb-6">Pastikan data diri Anda sudah benar</span>
    <form method="post" class="w-full">
      {% csrf_token %}
      <div class="flex flex-col justify-center gap-3">
        <label for="nama" class="-mb-1 text-sm font-semibold">Nama</label>
        <input type="text" id="nama" class="py-2 px-4 border rounded-lg focus:border-emerald-800 placeholder:text-sm" placeholder="{{ user_data.name }}" required>
        <label for="universitas" class="-mb-1 text-sm font-semibold">Universitas</label>
        <input type="text" id="universitas" class="py-2 px-4 border rounded-lg focus:border-emerald-800  placeholder:text-sm" placeholder="{{ user_data.universitas }}" required>
        <label for="jurusan" class="-mb-1 text-sm font-semibold">Jurusan</label>
        <input type="text" id="jurusan" class="py-2 px-4 border rounded-lg focus:border-emerald-800  placeholder:text-sm" placeholder="{{ user_data.jurusan }}"required>
      </div>
      <div class="flex flex-col justify-center items-center">
        <button type="submit" class="py-2 px-4 mt-8 shadow-md rounded-xl bg-emerald-800 text-white hover:scale-110 duration-150">Submit</button>
      </div>
    </form>
  </div>
</div>

{% endblock %}